@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/SourGummy-VariableFont_wdth,wght.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'CustomFont', sans-serif;
}
canvas {
  display: block;
}

div.endGamePopUp, div.infosPopUp {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 10px;
}

div.endGamePopUp {
  text-align: center;
}

div.infosPopUp div.ok {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

div.endGamePopUp .newGameButton {
  margin-right: 10px;
}

div.endGamePopUp .replayButton {
  margin-left: 10px;
}
